<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <label for="fname">First Name</label><input id="fname" type="text">
    <br>
    <label for="lname">Last Name</label><input id="lname" type="text">
    <br>
    <label for="username">user Name</label><input id="username" type="text">
    <br>
    <label for="email">Email</label><input id="email" type="text">
    <br>
    <label for="password">Password</label><input id="password" type="password">
    <br>
    <label for="repassord">re-password</label><input id="repassord" type="password">
    <br>
    <p id="result"></p>
    <button>Register</button>

    
</body>
</html>